header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
}

.container {
    width: 20%;
    padding: 0% 3%;
    padding-top: 3%;
    border-radius: 50px;
    background-color: #ffcf9d;
}

h1{
    text-align: center;
    margin-bottom: 50px;
    font-size: 35px;
}

h2{
    text-align: center;
    margin-bottom: 20px;
}

label{
    display: block;
    margin-bottom: 0px;
    font-weight: 300;  
    margin: 10px;
}

input{
    margin: 0px 18%;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: transparent;
    outline: 0;
    width: 80%;
}

.hide, .view{
    width: 20px;
    height: 20px;
}

.hide-view{
    width: 20px;
    height: 20px;
    z-index: 1;
    position: relative;
    left: 93%;
    bottom: 20px;
}

.view{display: none;}

p{
    margin: 10% 0%;
}

form{
    margin-bottom: 50px;
}

.register{
    color: darkgreen;
    font-weight: 550;
    margin: 0px 10px;
}

button{
    position: relative;
    left: 60%;
    bottom: 76px;
    padding: 3% 5%;
    border: none;
    border-radius: 20px;
    background-color: darkgreen;
    color: white;
    font-size: medium;
}

@media (width<1500px){

    label{
        display: block;
        margin-bottom: 0px;
        font-weight: 300;  
        margin: 10px 0px;
    }

    input{
        width: 80%;
    }

    form{
        margin-bottom: 20px;
    }

    p{
        margin: 5% 7%;
        font-size: small;
    }

    .hide-view{
        width: 20px;
        height: 20px;
        z-index: 1;
        position: relative;
        left: 93%;
        bottom: 20px;
    }

    button{
        position: relative;
        left: 60%;
        bottom: 47px;
        padding: 2% 5%;
        border: none;
        border-radius: 20px;
        background-color: darkgreen;
        color: white;
        font-size: small;
    }
}

@media (width<1300px){

    form{
        margin-bottom: 0px;
    }

    input{
        width: 80%;
    }

    p{
        margin: 5% 0%;
        font-size: small;
    }

    .hide-view{
        width: 20px;
        height: 20px;
        z-index: 1;
        position: relative;
        left: 90%;
        bottom: 20px;
    }

    button{
        position: relative;
        padding: 3% 3%;
        border: none;
        border-radius: 20px;
        background-color: darkgreen;
        color: white;
        font-size: small;
        width: 50%;
        left: 55%;
    }
}

@media (width<900px){

    .container {
        width: 35%;
        padding: 0% 3%;
        padding-top: 3%;
        border-radius: 50px;
        background-color: #ffcf9d;
    }

    p{
        margin: 5% 5%;
        font-size: small;
    }
    
    input{
        width: 80%;
    }

    .hide-view{
        width: 20px;
        height: 20px;
        z-index: 1;
        position: relative;
        left: 90%;
        bottom: 20px;
    }

    button{
        position: relative;
        padding: 3% 3%;
        border: none;
        border-radius: 20px;
        background-color: darkgreen;
        color: white;
        font-size: small;
        width: 40%;
        left: 60%;
        bottom: 52px;
    }
}

@media (width<700px){

    .container {
        width: 50%;
        padding: 0% 3%;
        padding-top: 3%;
        border-radius: 50px;
        background-color: #ffcf9d;
    }

    
    input{
        width: 80%;
    }

    .hide-view{
        width: 20px;
        height: 20px;
        z-index: 1;
        position: relative;
        left: 90%;
        bottom: 20px;
    }

    button{
        position: relative;
        padding: 2% 5%;
        border: none;
        border-radius: 20px;
        background-color: darkgreen;
        color: white;
        font-size: small;
        width: 30%;
        left: 65%;
        bottom: 50px;
    }
}

@media (width<500px){
    .container {
        width: 45%;
        padding: 0% 3%;
        padding-top: 3%;
        border-radius: 50px;
        background-color: #ffcf9d;
    }

    p{
        margin: 5% 25%;
        margin-top: 25%;
        font-size: small;
    }
    
    input{
        width: 80%;
    }

    .hide-view{
        width: 20px;
        height: 20px;
        z-index: 1;
        position: relative;
        left: 90%;
        bottom: 20px;
    }

    button{
        position: relative;
        padding: 3% 5%;
        border: none;
        border-radius: 20px;
        background-color: darkgreen;
        color: white;
        font-size: 12px;
        width: 40%;
        left: 30%;
        bottom: 100px;
    }
}