@keyframes ZoomIn{
    0%{transform: scale(1);}
    100%{transform: scale(1.1);}
}

@keyframes LoveZoomIn{
    0%{transform: scale(1);}
    100%{transform: scale(1.25);}
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.info{
    display: flex;
    justify-content: space-evenly;
    margin: 30px;
}

.whoweare{
    background-color: #ffcf9d;
    border-radius: 20px;
    padding: 5.5px 20px;
    grid-area: whoweare;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 20%;
}

.whoweare h2{
    font-size: x-large;
    padding-bottom: 20px;
}

.whoweare p{
    font-size: medium;
}

.whatwedo{
    background-color: #ffcf9d;
    border-radius: 20px;
    padding: 5.5px 20px;
    grid-area: whatwedo;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 20%;
}

.whatwedo h2{
    font-size: x-large;
    padding-bottom: 20px;
}

.whatwedo p{
    font-size: medium;
}

.carousel{
    background-color: #ffcf9d;
    border-radius: 50px;
    padding: 20px;
    grid-area: carousel;
    display: grid;
    grid-template-areas: 
    "left-arrow main-carousel right-arrow";
    grid-template-columns: 5% 90% 5%;
    align-items: center;
    margin-bottom: 30px;
    width: 62%;
}

#inner-carousel{
    overflow: hidden;
}

#items-list{
    display: flex;
    margin-bottom: 20px;
    text-align: center;
    align-items: center;
    grid-area: main-carousel;
    overflow: hidden;
}


li{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff4e8;
    border-radius: 30px;
    padding: 10px;
    margin: 0px 30px;
    justify-content: space-between;
    min-width: 270px;
    max-width: 270px;
    min-height: 380px;
    max-height: 380px;
}

.left-arrow{
    grid-area: left-arrow;
    height: 50px;
    display: block;
    background-color: transparent;
    border: none;
}

.right-arrow{
    grid-area: right-arrow;
    height: 50px;
    display: block;
    background-color: transparent;
    border: none;
}

.right-arrow img{
    height: 50px;
}

.chair .image img{
    width: 260px;
    height: 300px;
}

.chair h2{
    font-size: x-large;
    font-weight: bolder;
}
.chair p{
    font-size: large;
}

.chair .image:hover{
    animation-name: ZoomIn;
    animation-duration: 1s;
    transform: scale(1.1);
}

.spongebob .image img{
    width: 230px;
    height: 300px;
}

.spongebob h2{
    font-size: x-large;
    font-weight: bolder;
}
.spongebob p{
    font-size: large;
}

.spongebob .image:hover{
    animation-name: ZoomIn;
    animation-duration: 1s;
    transform: scale(1.1);
}

.sweater .image img{
    width: 270px;
    height: 300px;
    display: block;
}

.sweater h2{
    font-size: x-large;
    font-weight: bolder;
}
.sweater p{
    font-size: large;
}

.sweater .image:hover{
    animation-name: ZoomIn;
    animation-duration: 1s;
    transform: scale(1.1);
}

.wardrobe .image img{
    margin-top: 30px;
    width: 220px;
    height: 270px;
    display: block;
}

.wardrobe h2{
    font-size: x-large;
    font-weight: bolder;
}
.wardrobe p{
    font-size: large;
}

.wardrobe .image:hover{
    animation-name: ZoomIn;
    animation-duration: 1s;
    transform: scale(1.1);
}

.kidsbag .image img{
    width: 350px;
    height: 300px;
    display: block;
}

.kidsbag h2{
    font-size: x-large;
    font-weight: bolder;
}
.kidsbag p{
    font-size: large;
}

.kidsbag .image:hover{
    animation-name: ZoomIn;
    animation-duration: 1s;
    transform: scale(1.1);
}

.couch .image img{
    margin-top: 30px;
    width: 250px;
    height: 270px;
    display: block;
}

.couch h2{
    font-size: x-large;
    font-weight: bolder;
}
.couch p{
    font-size: large;
}

.couch .image:hover{
    animation-name: ZoomIn;
    animation-duration: 1s;
    transform: scale(1.1);
}

.love-icon{
    width: 20px;
    position: relative;
    bottom: 360px;
    left: 100px;
    background-color: transparent;
    border: none;
}

.love-icon img{
    width: 20px;
}

.filled-love{
    display: none;
}

.empty-love:hover{
    animation-name: LoveZoomIn;
    animation-duration: 1s;
    transform: scale(1.25);
}
.filled-love:hover{
    animation-name: LoveZoomIn;
    animation-duration: 1s;
    transform: scale(1.25);
}