html{
    font-family: 'Times New Roman', Times, serif;
}

header{
    background-color: #004225;
    opacity: 90%;
    width: 100%;
    height: 107px;
    font-size: x-large;
    display: grid;
    grid-template-columns: 35% 35% 20%;
    grid-template-rows: 25% 50% 25%;
    grid-template-areas: 
    ". . ."
    "first second third"
    ". . .";
}

.first{
    cursor: default;
    display: grid;
    grid-template-areas:
    "close logo logo-text";
    grid-template-columns: 65% 12% 25%;
    width: 500px;
    margin-left: 25px;
    grid-area: first;
}

.close{
    width: 35px;
    height: 35px;
    padding-top: 8px;
    grid-area: close;
}

.logo{
    width: 60px;
    height: 53px;
    grid-area: logo;
}

h2{
    padding-top: 17px;
    grid: logo-text;
    width: 250%;
}

.second{
    display: grid;
    grid-template-areas:
    "bar search";
    grid-template-columns: 0% 0%;
    width: 605px;
    grid-area: second;
}

.bar{
    width: 600px;
    height: 45px;
    background-color: #ffcf9d;
    border-radius: 100px;
    opacity: 70%;
    border: 0;
    grid-area: bar;
}

.search{
    width: 35px;
    height: 35px;
    padding-left: 15px;
    padding-top: 6px;
    grid-area: search;
    z-index: 1;
}

.third{
    display: flex;
    grid-area: third;
    margin-left: 300px;
    width: 215px;
}

.cart{
    width: 43px;
    height: 43px;
}

.user{
    width: 39px;
    height: 39px;
    padding: 0 45px;
}

.help{
    width: 43px;
    height: 43px;
} 

body{
    background-color: #f5f5cd;
}

footer{
    background-color: #004225;
    opacity: 85%;
    width: 100%;
    height: 100px;
}